.griddate {
    font-size: 0.9em;
}

.griddate span, .griddate span.inline {
    display: block;
    font-size: 0.9em;
    color: #999999;
}

.griddate span.inline {
    display: inline;
}

.gridwidth20 {
    max-width: 20em;
}

.gridwidth10 {
    max-width: 10em;
}

.gridwidth7 {
    max-width: 7em;
}

td.commandcell {
    white-space: nowrap;
}

.colorcell_yellow {
    background-color: #eeee77;
}

.colorcell_red {
    background-color: #ff7777;
}

.colorcell_green{
    background-color: #44dd44;
}

.greylink {
    color: #777777;
    text-decoration: none;
}